body {
    margin: 0;
    background-color: #fdf4e3;
}

p {
    font-size: 20px;
}

.container {
    max-width: 1460px;
    padding: 5% 60px;
    margin: 0 auto;
}

/* .body__home {
    background-color: #fdf4e3;
}

.body__about {
    background-color: #faeedd;
}

.body__photos {
    background-color: #faebd7;
}

.body__portfolio {
    background-color: #ffefd5;
}

.body__contact {
    background-color: #ffebcd;
} */

/* ------------------------------------------ */

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 10px;
    width: 100%;
    z-index: 99px;
    position: fixed;
}

.logo {
    height: 40px;
}

li {
    list-style-type: none;
}

.header__nav-list {
    display: flex;
    padding-right: 15px;
}

.header__nav-item {
    padding: 0 10px;
}

.header__nav-link {
    text-decoration: none;
    color: white;
}

/* ---------------------------------------------------------- */

.greeting {
    display: flex;
    justify-content: space-between;
}

img {
    max-width: 100%;
    height: auto;
}

.base-photo {
    min-width: 300px;
}

.block {
    width: 46%;
    padding-top: 20px;
}

.main__text {
    text-align: center;
    justify-content: center;

}

.greeting__paragraph {
    font-size: 25px;
}

.text {
    margin-top: 50%;
}

/* ---------------------------------------------------------------------- */

.comic {
    text-align: center;
}

.comic-button {
    margin-bottom: 10px;
    
}

#get-comic {
    font-size: 20px;
}

/* ---------------------------------------------------------------------- */

.photos {
    padding: 20px 0;
    display: grid;
}

.md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0,1fr));
}

.photo {
    padding: 0 5px;
}

.gap {
    gap: 0.125rem;
}

.link {
    text-align: right;
    text-decoration: none;
    color: black;
}

/* ----------------------------------------------------- */

.portfolio__list-item__project {
    text-decoration: none;
}

/* ----------------------------------------------------- */

.descript {
    display: flex;
}

.space {
    width: 50%;
}

.form {
    margin: 0 10px 10px 0;
    color: gray;
}

.button {
    text-align: right;
}

.submit {
    height: 40px;
    width: 80px;
}

/* ---------------------------------------------------- */

.social {
    background-color: black;
    
}

.social__img {
    height: 25px;
    padding: 10px 5px;
}

